KETOANVONBANGTIEN/KETOANVONBANGTIEN/obj/x86/Debug/KETOANVONBANGTIEN.BaoCao.TestReport.XtraReport1.resources
KETOANVONBANGTIEN/KETOANVONBANGTIEN/KETOANVONBANGTIEN/Properties/licenses.licx
KETOANVONBANGTIEN/KETOANVONBANGTIEN/bin/Debug/KETOANVONBANGTIEN.vshost.exe.manifest
